/* color */
$color-font: #1d1d1d;
$color-blue: #0071e3;
$color-lightblue: #81b9f1;
$color-darkgray: #6e6e6e;
$color-lightgray: #f5f5f5;
$color-border: #d2d2d2;
$color-header: #3a3a3a;
$color-shadow: #00000040;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%absolute-left-zero {
  position: absolute;
  top: 0;
  left: 0;
}
%absolute-right-zero {
  position: absolute;
  top: 0;
  right: 0;
}

/* style ========================== */
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  color: $color-font;
}

a {
  color: $color-font;
}

img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

p {
  line-height: 1.6;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* BUTTON */
.btn {
  @extend %flex-center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  background-color: $color-blue;
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px $color-lightblue;
}
.bgtext {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* LINKS */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: $color-blue;
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}

/* FIGURES */
.figures {
  position: relative;

  figure, figcaption, figcaption * {
    @extend %absolute-left-zero;
  }
}


/* HEADER */
header {
  $h-height: 44px;

  background-color: $color-header;
  position: relative;
  z-index: 9;

  > .inner {
    max-width: 1020px;

    /* MENU */
    > .menu {
      height: $h-height;
      @extend %flex-between;

      > li {
        display: flex;
        height: $h-height;
        position: relative;
        transition: .4s;

        a {
          padding: 0 10px;
          font-size: 11px;
          @extend %flex-center;
          color: $color-lightgray;
          opacity: .8;
        }
        a:hover {
          opacity: 1;
        }
      }

      > li.apple-logo > a,
      > li.search-starter > a,
      > li.basket-starter > a {
        width: 14px;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: center;
      }
      > li.apple-logo > a {
        background-image: url("/images/header_apple.svg");
      }
      > li.search-starter > a {
        background-image: url("/images/header_search.svg");
      }
      > li.basket-starter {
        
        > a {
          background-image: url("/images/header_bag.svg");
        }

        /* BASKET */
        .basket {
          width: 290px;
          padding: 10px 20px;
          border: 1px solid $color-border;
          border-radius: 10px;
          box-sizing: border-box;
          background-color:  #fff;
          position: absolute;
          top: calc(100% + 4px);
          right: -6px;
          visibility: hidden;
          transition: .4s;
          opacity: 0;

          .arrow {
            width: 20px;
            height: 10px;
            position: absolute;
            overflow: hidden;
            top: -10px;
            right: 12px;
          }
          .arrow::before {
            content: "";
            width: 12px;
            height: 12px;
            border: 1px solid $color-border;
            background-color: #fff;
            transform: rotate(45deg);
            transform-origin: 0 0;
            position: absolute;
            top: 0;
            left: 50%;
          }
          
          .message {
            padding: 30px 0;
            font-size: 13px;
            color: $color-darkgray;
            text-align: center;
          }

          > ul {
            margin-top: 10px;
            
            > li {
              border-top: 1px solid $color-border;

              a {
                display: block;
                padding: 14px;
                font-size: 13px;
                color: $color-blue;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .basket.show {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    /* SEARCH */
    .search-wrap {
      @extend %absolute-left-zero;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: .4s;

      .search {
        max-width: 680px;
        margin: 0 auto;
        position: relative;

        .shadow {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-shadow;
        }

        .textfield {
          position: relative;

          > input {
            width: 100%;
            height: $h-height;
            padding: 0 40px;
            border: none;
            outline: none;
            box-sizing: border-box;
            background-color: transparent;
            font-size: 17px;
            color: #fff;
          }

          .search-icon {
            width: 40px;
            height: $h-height;
            background-image: url("/images/header_search.svg");
            background-repeat: no-repeat;
            background-position: center;
            @extend %absolute-left-zero;
            opacity: .4;
          }

          .search-closer {
            width: 40px;
            height: $h-height;
            background-image: url("/images/header_close.svg");
            background-repeat: no-repeat;
            background-position: center;
            @extend %absolute-right-zero;
            opacity: .4;
            cursor: pointer;
          }
          .search-closer:hover {
            opacity: 1;
          }
        }

        .autocompletes {
          width: 100%;
          padding: 26px 40px 20px;
          border-radius: 0 0 18px 18px;
          box-sizing: border-box;
          background-color: #fff;
          position: absolute;
          top: 44px;
          left: 0;

          > h3 {
            font-size: 12px;
            color: $color-darkgray;
            margin-bottom: 12px;
          }

          > ul {
            > li {
              > a {
                display: block;
                margin: 0 -14px;
                padding: 10px 0 10px 30px;
                font-size: 14px;
                cursor: pointer;
              }
              > a:hover {
                background-color: $color-lightgray;
                color: $color-blue;
              }
            }
          }
        }
      }
    }
  }
}
header .search {
  input, .search-icon, 
  .autocompletes h3, .autocompletes li {
    transition: .6s;
    transform: translate(100px, 0);
  }
}
/* SEARCHING */
header.searching {
  .search {
    input, .search-icon, 
    .autocompletes h3, .autocompletes li {
      transition-delay: .2s;
      transform: translate(0, 0);
    }
  }

  ul.menu > li {
    transform: scale(.7);
    opacity: 0;
  }

  .search-wrap {
    visibility: visible;
    opacity: 1;
    transition-delay: .2s;
  }
}


/* NAV */
nav {
  background-color: #ffffff70;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid $color-border;
  position: sticky;
  top: 0;
  z-index: 10;

  > .inner {
    max-width: 1000px;
    height: 52px;
    display: flex;
    align-items: center;

    > h1 {
      flex-grow: 1;
      font-size: 22px;
      font-weight: 500;
    }

    .menu {
      display: flex;
      gap: 12px;
      margin-right: 18px;

      > li {
        > a {
          display: block;
          padding: 6px;
          font-size: 11px;
        }
      }

      > li:not(.active) > a:hover {
        color: $color-blue;
      }
        
      > li.active > a {
        opacity: .5;
        cursor: default;
      }
    }
  }
}


/* HERO */
.hero {
  background-color: $color-lightgray;

  > .inner {
    padding-bottom: 110px;
    overflow: hidden;

    > h1 {
      width: 221px;
      height: 91px;
      background-image: url("/images/hero_ipad_text.png");
      position: absolute;
      transform: translate(624px, 235px);
      z-index: 2;
    }

    .figures {
      transform: translate(74px, -64px);
      height: 808px;
      
      figcaption {
        .caption-camera {
          width: 120px;
          height: 84px;
          background-image: url("/images/hero_ipad_caption_camera.png");
          transform: translate(43px, 580px);
        }

        .caption-chip {
          width: 95px;
          height: 43px;
          background-image: url("/images/hero_ipad_caption_chip.png");
          transform: translate(589px, 510px);
        }

        .caption-storage {
          width: 80px;
          height: 43px;
          background-image: url("/images/hero_ipad_caption_storage.png");
          transform: translate(627px, 631px);
        }
      }
    }

    > h2 {
      width: 738px;
      height: 145px;
      margin: 0 auto;
      background-image: url("/images/hero_headline.png");
    }

    > p.pricing {
      margin-top: 40px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    > p.description {
      width: 88%;
      margin: 18px auto 0;
      font-size: 19px;
      text-align: center;
    }

    .links {
      margin-top: 30px;
    }
  }
}